


<div class="container-fluid bg-breadcrumb py-5">
    <div class="container text-center py-5">
        <h5 class="text-white display-3 mb-4">Manage-contact</h5>
         <ol class="breadcrumb justify-content-center mb-0">
             <!-- <li class="breadcrumb-item"><a href="index.html">Home</a></li>  -->
            <li class="breadcrumb-item active text-info">
                <a routerLink="/admin-layout/dashboard">Dashboard</a></li>
        </ol>     
    </div>
</div>



<!-- 
 <div class="container-fluid contact py-5" style="background: var(--bs-success);"> 
    <div class="container pt-5">
       
        <div class="col-lg-9 mx-auto">
            <div class="contact-form rounded p-5">
                <form >
                    <h1 class="display-6 mb-3"><span style="color:rgb(11, 11, 11);">Contact</span></h1>
                    <div class="row gx-4 gy-3">
                        <div class="col-xl-6">
                            <input type="text" class="form-control bg-white border-0 py-3 px-4"
                                placeholder=" Name" 
                                formControlName="Name">
                        </div>
                        <div class="col-xl-6">
                            <input type="age" class="form-control bg-white border-0 py-3 px-4"
                                placeholder="Age" formControlName="age">
                        </div>

                        <div class="col-xl-6">
                            <input type="email" class="form-control bg-white border-0 py-3 px-4"
                                placeholder="Email" formControlName="Email">
                        </div>
                        <div class="col-xl-6">
                            <input type="dateofbirth"
                             class="form-control bg-white border-0 py-3 px-4" 
                             placeholder="dateofbirth" formControlName="dateofbirth">
                        </div>
                        <div class="col-xl-6">
                            <input type="text" class="form-control bg-white border-0 
                            py-3 px-4" placeholder="contact" formControlName="contact">
                        </div>
                        <div class="col-xl-6">
                            <input type="email"
                             class="form-control bg-white border-0 py-3 px-4" 
                             placeholder="Password" formControlName="Password">
                        </div>
                       

                        <div class="col-2 ">
                            <button class="btn btn-primary btn-primary-outline-0
                                 w-90 py-2 px-4" type="submit">submit</button>
                        </div>
                       
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> -->



<section id="about" class="about">
    <div class="container" data-aos="fade-up">

        <div class="row position-relative">
            <div class="col-lg-6 p-3">
                <h3>Doctor List</h3>
                
            </div>
            <div class="col-lg-6 p-3 text-end">
                <!-- <button class="btn btn-warning"
                 routerLink="/admin-layout/adddoctor">Add Doctor</button> -->
            </div>
            <div class="col-12 p-3">
                <table class="table table-warning">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Date of birth</th>
                        <th scope="col">Email</th>
                        <th scope="col">Contact</th>
                        <th scope="col">Messages</th>
                        <!-- <th scope="col">Action</th> -->
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Sachin</td>
                        <td>18-9-2001</td>
                        <td>nit@gmail.com</td>
                        <td>12120</td>
                            <td>Ent</td>
                            

                        <!-- <td>
                            <button class="btn btn-success btn-sm"
                             routerLink="/admin-layout/updatedoctor">
                                <i class="bi bi-pen-fill"></i>
                            </button>
                            <button class="btn btn-danger btn-sm ms-4"
                            routerLink="/admin-layout/updatedoctor">
                                <i class="bi bi-trash-fill"></i>
                            </button>
                        </td> -->
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</section>


