<div class="container-fluid bg-breadcrumb py-5">
    <div class="container text-center py-5">
        <h3 class="text-white display-3 mb-4">view-doctor-profile</h3>
        <ol class="breadcrumb justify-content-center mb-0">
            <!-- <li class="breadcrumb-item"><a href="index.html">Home</a></li> -->
            <!-- <li class="breadcrumb-item active text-white">Dashboard</li> -->
        </ol>    
    </div>
</div>




<!-- Services Start -->
<div class="container-fluid services py-5">
    <div class="container py-5">
        <div class="mx-auto text-center mb-5" style="max-width: 800px;">
            <h1 class="fs-4 fw-bold text-uppercase text-center text-primary"><u>PROFILE</u></h1>
      
        </div>
        <div class="row g-4">

            <div class="col-lg-12">

                <div class="services-item bg-light border-4 border-end border-primary rounded p-4">
                    <div class="row align-items-center">
                        <!-- <div class="col-8">
                            <div class="services-content text-end">
                                <h3>DR.ANURAG</h3>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis quia fugiat dolorem nihil commodi 
                                    non, ut nam placeat
                                     quam! Eligendi soluta mollitia ut suscipit facere? Doloribus cum excepturi dolore eum.</p>
                                
                            </div>
                        </div> -->
                        <div class="col-4">
                            <div class="services-img d-flex align-items-center justify-content-center rounded">
                                <img src="assets/img/dr1.jpg" class="img-fluid rounded" alt="">
                            </div>
                        </div>

                        <div class="col-8">
                            <div class="services-content text-center">
                                <h3>DR.ANURAG</h3>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis quia fugiat dolorem nihil commodi 
                                    non, ut nam placeat
                                     quam! Eligendi soluta mollitia ut suscipit facere? Doloribus cum excepturi 
                                     dolore eum.
                                     Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis quia fugiat dolorem nihil commodi 
                                     non, ut nam placeat
                                      quam! Eligendi soluta mollitia ut suscipit facere? Doloribus cum excepturi 
                                      dolore eum!</p>
                                <!-- <a href="#" class="btn btn-primary btn-primary-outline-0 rounded-pill py-2 px-4">Make Order</a> -->
                            </div>
                        </div>








                    </div>
                </div>
            </div>
         

    
        </div>
    </div>
</div>
<!-- Services End -->

