<main id="main">
    <div class="container-fluid bg-breadcrumb py-5">
        <div class="container text-center py-5">
            <h3 class="text-white display-3 mb-4">Dashboard</h3>
            <ol class="breadcrumb justify-content-center mb-0">
                <!-- <li class="breadcrumb-item"><a href="index.html">Home</a></li> -->
                <li class="breadcrumb-item active text-white">Dashboard</li>
            </ol>    
        </div>
    </div>

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">

            <div class="row position-relative">
                <div class="col-lg-4 p-3">
                    <div class="bg-secondary">
                        <h3 class="text-center">Total Department</h3>
                        <h1 class="text-center">3</h1>
                    </div>
                    
                </div>
                <div class="col-lg-4 p-3">
                    <div class="bg-secondary">
                        <h3 class="text-center">Total Doctors</h3>
                        <h1 class="text-center">3</h1>
                    </div>
                </div>
                <div class="col-lg-4 p-3  ">
                    <div class="bg-secondary">
                        <h3 class="text-center">Total Patient</h3>
                        <h1 class="text-center">3</h1>
                    </div>
                </div>
            </div>
        </div>
   
