<div class="container-fluid contact py-5" style="background: var(--bs-primary);">
    <div class="container pt-5">
        <!-- <div class="row g-4 align-items-center"> -->
        <!-- <div class="col-lg-6">
                <div class="text-center">
                    <h1 class="display-3 text-white mb-4">Contact Us</h1>
                    <p class="text-white fs-4">The contact form is currently inactive. Get a functional and working
                        contact form with Ajax & PHP in a few minutes. Just copy and paste the files, add a little code
                        and you're done. <a class="text-secondary" href="https://htmlcodex.com/contact-form">Download
                            Now</a>.</p>
                </div>
            </div> -->
        <div class="col-lg-9 mx-auto">
            <div class="contact-form rounded p-5">
                <form [formGroup]="loginForms" (submit)="register()" >
                    <h1 class="display-6 mb-3"><span style="color:rgb(11, 11, 11);">UPDATE-PROFILE</span></h1>
                    <div class="row gx-4 gy-3">
                        <div class="col-xl-6">
                            <input type="text" class="form-control bg-white border-0 py-3 px-4"
                                placeholder=" Name" 
                                formControlName="Name">
                        </div>
                        <div class="col-xl-6">
                            <input type="email" class="form-control bg-white border-0 py-3 px-4"
                                placeholder="Email" formControlName="Email">
                        </div>
                        <!-- <div class="col-xl-6">
                            <input type="email"
                             class="form-control bg-white border-0 py-3 px-4" 
                             placeholder="Password" formControlName="Password">
                        </div> -->
                        <div class="col-xl-6">
                            <input type="text" class="form-control bg-white border-0 
                            py-3 px-4" placeholder="contact" formControlName="contact">
                        </div>
                        <div class="col-xl-6">
                            <input type="text" class="form-control bg-white border-0 
                            py-3 px-4" placeholder="Gender" formControlName="Gender">
                        </div>
                        <div class="col-xl-6">
                            <textarea class="form-control bg-white border-0 py-3 px-4" rows="1" cols="10"
                                placeholder=" Age" formControlName="Age"></textarea>
                        </div>
                        <div class="col-12">
                            <textarea class="form-control bg-white border-0 py-3 px-4" rows="4" cols="10"
                                placeholder=" Address" formControlName="Address"></textarea>
                        </div>

                        <div class="col-2 ">
                            <button class="btn btn-primary btn-primary-outline-0
                                 w-90 py-2 px-4" type="submit">SUBMIT</button>
                        </div>
                        <p><span style="color:rgb(15, 15, 16);font-size:20px;">
                                Already have an account?</span>
                            <a routerLink="/login">Login Now</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
