<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="container-fluid bg-breadcrumb py-5">
        <div class="container text-center py-5">
            <h5 class="text-white display-3 mb-4">My-Appointment</h5>
             <!-- <ol class="breadcrumb justify-content-center mb-0">
                 
                <li class="breadcrumb-item active text-info">
                    <a routerLink="/admin-layout/dashboard">Dashb</a></li>
            </ol>      -->
    </div>
    </div>

    <!-- End Breadcrumbs -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">

            <div class="row position-relative">
                <div class="col-lg-6 p-3">
                    <h3 class="li" style="color:black;font-weight:bold;">
                        <u>Appointment-List</u></h3>
                    
                </div>
                <div class="col-lg-6 p-3 text-end">
        
                </div>
                <div class="col-12 p-3">
                    <table class="table table-warning">
                        <thead>
                          <tr>
                            <th scope="col">sr.no</th>
                            <th scope="col"> Patient Name</th>
                            <th scope="col">Age</th>
                            <th scope="col">Contact</th>
                            <th scope="col">Concern dr.</th>
                            <th scope="col">Problem</th>
                            <th scope="col">Department</th>
                            <th scope="col">Booking-Date</th>
                            <th scope="col">Created-at</th>
                            <th scope="col">Status</th>
                            <!-- <th scope="col">Action</th> -->
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td scope="row">1</td>
                            <td>rahul</td>
                            <td>78</td>
                            <td>8766554545</td>
                            <td>Dr.ravi</td>
                            <td>Heart-problem</td>
                            <td>Ent</td>
                            <td>14-8-2021</td>
                            <td>nbhb</td>
                            <td>Pending</td>
                            <!-- <td>
                                <button class="btn btn-success btn-sm"
                                 routerLink="/admin-layout/updatedepartment">
                                    <i class="bi bi-pen-fill"></i>
                                </button>
                                
                                <button class="btn btn-danger btn-sm ms-4">
                                    <i class="bi bi-trash-fill"></i>
                                </button>
                            </td> -->
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </section>
</main>
